<!DOCTYPE html>
<html>
<head>
	<title>Sudoku Game</title>
	<!-- link to the CSS stylesheet -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
</head>
<body>
<p class="asd">hello sudoku</p>
</body>
</html>