<!DOCTYPE html>
<html>
<head>
	<title>Sudoku Game</title>
	<!-- link to the CSS stylesheet -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
</head>
<body>

	<h1>Life is too short for playing Sudoku</h1>
	<div id = "sudoku">
		<!-- one div for each row -->
		<% 3.times do |row| %>
			<!-- we want to create separate div elements for boxes to style them using CSS -->
			<div class = "row">
				<% 3.times do |box| %>
				<!-- we will have nine cells -->
					<div class = "box">
						<% 3.times do |cell_row| %>
							<div class = "cell-row">
								<% 3.times do |cell| %>
									<div class = "cell">
										<!-- every cell will have an input field -->
											<input type = "text" maxlength = "1" autocomplete = "off" >
									</div>
								<% end %>
							</div>
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>

</body>
</html>